
    <main>
        <section class="error-404 container">
            <h1 class="head-404 text-center">404</h1>
            <h3 class="text-center">Sorry, the page you were looking for can’t be found.
            </h3>
            <!-- <form class="form-row mx-auto text-center ">
                    <div class="col-md-4 offset-md-2 text-center col-8 mx-sm-3  mb-2">
                        <input type="search" class="form-control" id="search" placeholder="Google search on smazee.com">
                    </div>
                    <button type="submit" class="btn px-5 btn-primary mb-2">Search</button>
            </form> -->
            <script>
                (function() {
                  var cx = '013008872213482412589:nfm-ssvjjw0';
                  var gcse = document.createElement('script');
                  gcse.type = 'text/javascript';
                  gcse.async = true;
                  gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                  var s = document.getElementsByTagName('script')[0];
                  s.parentNode.insertBefore(gcse, s);
                })();
              </script>
              <gcse:search></gcse:search>
            <div class="text-center py-5">
                <a href="./">Return to Home</a> &nbsp;&nbsp;/&nbsp;&nbsp;
                <a href="./sitemap.html">Visit Sitemap</a> 
            </div>
        </section>
    </main>